@if (Session["username"] != null && @Session["type"].ToString() == "patient")
{
 <input type="hidden" value="@Session["username"].ToString()" id="username" />
<div class="chat-widget-wrapper">
    <div class="chat-widget-container">
        <div class="chat-widget-text">
            <p class="heading">LIVE CHAT</p>
            <p style="color: white">How can we help?</p>
        </div>
        <div class="chat-widget-avatar">
            <img src="https://image.flaticon.com/icons/svg/387/387561.svg" alt="" />
        </div>
    </div>
    <div class="chat-box-container">
        <div class="chat-box-nav">
            Chat with doctors
        </div>
        <div class="connectbtn">
            <button class="buttonCon" id="buttonCon"></button>
        </div>
        <div class="chat-box-content">
            <div class="messages" id="messagesPat">
            </div>

        </div>
        <div class="message-box">
            <textarea type="text" id="messageToKey" class="message-input" placeholder="Ask you question..."></textarea>
            <button type="submit" class="message-submit" onclick="sendMessageToKey();return false;">Send</button>
        </div>
    </div>
</div>
}

@if (Session["username"] != null && @Session["type"].ToString() == "doctor")
{
    <input type="hidden" value="@Session["username"].ToString()" id="username" />
    <input type="hidden" id="key" />
    <div class="chat-widget-wrapper">
        <div class="chat-widget-container">
            <div class="chat-widget-text">
                <p class="heading">LIVE CHAT</p>
                <p style="color: white">help a patient</p>
            </div>
            <div class="chat-widget-avatar">
                <img src="https://image.flaticon.com/icons/svg/237/237188.svg" alt="" />
            </div>
        </div>
        <div class="chat-box-container">
            <div class="chat-box-nav">
                Answer questions
            </div>
            <div class="connectbtn1">
              
            </div>
            <div class="chat-box-content">
                <div class="messages" id="messagesDoc">
                </div>

            </div>
            <div class="message-box">
                <textarea type="text" id="messageToPatient" class="message-input" placeholder="Send message..."></textarea>
                <button type="submit" class="message-submit" onclick="sendMessageToPatient();return false;">Send</button>
            </div>
        </div>
    </div>
}

