
    <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card dashboard text-white bg-success o-hidden h-100">
            <div class="card-body">
                <div class="card-body-icon">
                    <i class="fa fa-calendar-check-o"></i>
                </div>
                <div class="mr-5"><h5>@ViewBag.result rendez-vous</h5></div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="bookings.html">
                <span class="float-left">Voir tous les rendez-vous</span>
                <span class="float-right">
                    <i class="fa fa-angle-right"></i>
                </span>
            </a>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card dashboard text-white bg-danger o-hidden h-100">
            <div class="card-body">
                <div class="card-body-icon">
                    <i class="fa fa-calendar-check-o"></i>
                </div>
                <div class="mr-5"><h5>@ViewBag.canceled rendez-vous annulés</h5></div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="bookings.html">
                <span class="float-left">Voir tous les rendez-vous</span>
                <span class="float-right">
                    <i class="fa fa-angle-right"></i>
                </span>
            </a>
        </div>
    </div>


