
<div class="col-xl-3 col-sm-6 mb-3">
    <div class="card dashboard text-white bg-info o-hidden h-100">
        <div class="card-body">
            <div class="card-body-icon">
                <i class="fa fa-users"></i>
            </div>
            <div class="mr-5"><h5>@ViewBag.result patients</h5></div>
        </div>
        <a class="card-footer text-white clearfix small z-1" href="bookings.html">
            <span class="float-left">Voir mes patients</span>
            <span class="float-right">
                <i class="fa fa-angle-right"></i>
            </span>
        </a>
    </div>
</div>



